.header {
  width: 100%;
}
.nav {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.logo {
  display: flex;
  margin: 0 42%;
  align-items: center;
  border-radius: 1rem;
  /* margin-top: 0rem; */
}
.logo:hover {
}

/* .logo_image {
    width: 5rem;
  } */
.main {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.logData {
  color: #000000;
  font-size: larger;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  margin-top: 5px;
}

/* @media (max-width: 768px) {
  .nav {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .logo_image {
    position: absolute;
    left: 38%;
    top: 1.5%;
  }
} */
